.alert{
  border-style: solid;
  border-color: #B31212;
  color: #B31212;
  width: 350px;
  height: 40px;
  padding: 0px;
  background-color: rgb(179, 18, 18, 0.05);
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.creds{
  position: absolute;
  margin-left: 16px;
}

.icon{
  position: absolute;
  margin-left: 145px;
  margin-top: 4px;
}

.icon:hover{
  cursor: pointer;
}