.login-img{
  height: 100vh;
  width: auto;
  background-size: cover;
}

@media (max-width: 1200px) {
  .login-img{
    display: none;
  }
}

.fp-main{
  display: flex;
  flex-direction: row;
}

.logo{
  margin-top: 52px;
}

.fp-form{
  text-align: center;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.fg-container{
  width: 466px;
  height: fit-content;
  max-height: 654px;
  border-style: solid;
	border-width: 2px;
  border-color: #01195B;
  border-radius: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slogan{
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 29px;
}

.line{
  border-style: solid;
  border-color: #868686;
  border-width: 0.5px;
  width: 258px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.resetPassword{
  width: 240px;
  height: 48px;
  border-radius: 36px;
  border-style: none;
  background: #01195B;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.backToLogin{
  color: #276DBF;
  font-size: 12px;
  margin-bottom: 10px;
  border-style: none;
  background: none;
}

.backToLogin:hover{
  cursor: pointer;
  text-decoration-line: underline;
}

.empty{
  margin-bottom: 30px;
}

.issue{
  color: #012364;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
}

.inner-line{
  border-style: solid;
  border-color: #012364;
  border-width: 0.5px;
  width: 120px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.call{
  color: #388807;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}

.footer{
  height: 108px;
  border-style: none;
  background-color: rgb(134, 134, 134, 0.05);
}

.footer-items{
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.singleton{
  width: 103px;
  height: 27px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 400;
}
