.profile-posted-products-wrapper {
  width: 100%;
}

.posted-list-products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.posted-list-products .card{
  margin: 10px;
}

.posted-list-products h1{
  margin: 0;
  width: 100%;
}

.posted-btn a{
  text-decoration: none;
  color: white;
}

.posted-add{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.posted-add hr{
  width: 30%;
}